@use "styles/setup" as *;

.component {
  display: block;
  padding: $spacing-lg 0;

  .component__image {
    width: 100%;
    border-radius: $borderRadius-md;
    box-shadow: $box-shadow;
    overflow: hidden;
  }

  .component__right-column {
    flex-direction: column;
    align-items: center;
    gap: $spacing-sm;
    justify-content: center;
  }

  .component__objective {
    text-align: center;
    max-width: rem(352);
  }
}
