@use "styles/setup" as *;
@use "sass:map";

.component {
  @include context("light");

  display: block;
  padding: $spacing-lg 0;
  background-color: $context-main;
  color: $context-contrast;
}

@each $key, $context in $contexts {
  .component--#{$key} {
    @include context($key);
  }
}
